In [1]:
# -*- coding: utf-8 -*-

'''
@Author   :   Corley Tang
@contact  :   cutercorleytd@gmail.com
@Github   :   https://github.com/corleytd
@Time     :   2023-11-30 20:59
@Project  :   Hands-on Crawler with Python-mysql_with_python
Python操作MySQL
'''

# 导入所需的库
import pymysql

from utils.mysql_pool.db import MySQLDB

# 1.连接MySQL

In [2]:
conn = pymysql.connect(
    host='localhost',  # 主机地址
    port=3306,  # 端口号
    db='question_answer',  # 数据库名
    user='root',  # 数据库用户名
    passwd='123456',  #
    charset='utf8'  # 编码
)
conn

# 2.插入数据

In [3]:
# 获取游标
cursor = conn.cursor()
cursor

In [4]:
# 创建用户表
cursor.execute('''CREATE TABLE IF NOT EXISTS user(
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    age INT NOT NULL,
    gender VARCHAR(6) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
''')

# 插入单条数据：字符串
cursor.execute("INSERT INTO user(name, age, gender) VALUES ('Corley', 25,'male');")
# 插入单条数据：元组或列表
cursor.execute('INSERT INTO user(name, age, gender) VALUES (%s, %s, %s);', ('Mary', 24, 'female'))
# 插入单条数据：字典
cursor.execute('INSERT INTO user(name, age, gender) VALUES (%(name)s, %(age)s, %(gender)s);',
               {'name': 'Ryan', 'age': 23, 'gender': 'male'})
conn.commit()  # 提交

In [5]:
# 插入多条数据：列表
cursor.executemany(
    'INSERT INTO user(name, age, gender) VALUES (%s, %s, %s) ON DUPLICATE KEY UPDATE age=VALUES(age);',
    # 如果插入的记录的主键key已经存在，则执行UPDATE操作，对应的value使用VALUES()函数动态获取
    [
        ('Tom', 22, 'male'),
        ('Jerry', 21, 'male'),
        ('Lucy', 20, 'female')
    ]
)
conn.commit()

# 3.查询数据

In [6]:
# 执行查询语句
cursor.execute('select * from user;')
# 获取单条数据
cursor.fetchone()

(1, 'Corley', 25, 'male')

In [7]:
# 获取多条数据，不从头开始，从前面获取过的下1条开始获取
cursor.fetchmany(2)

((2, 'Corley', 25, 'male'), (3, 'Mary', 24, 'female'))

In [8]:
# 获取所有数据
cursor.fetchall()

((4, 'Corley', 25, 'male'),
 (5, 'Mary', 24, 'female'),
 (6, 'Ryan', 23, 'male'),
 (7, 'Tom', 22, 'male'),
 (8, 'Jerry', 21, 'male'),
 (9, 'Lucy', 20, 'female'),
 (10, 'Corley', 25, 'male'),
 (11, 'Mary', 24, 'female'),
 (12, 'Ryan', 23, 'male'),
 (13, 'Tom', 22, 'male'),
 (14, 'Jerry', 21, 'male'),
 (15, 'Lucy', 20, 'female'),
 (16, 'Corley', 25, 'male'),
 (17, 'Mary', 24, 'female'),
 (18, 'Ryan', 23, 'male'),
 (19, 'Tom', 22, 'male'),
 (20, 'Jerry', 21, 'male'),
 (21, 'Lucy', 20, 'female'),
 (22, 'Corley', 25, 'male'),
 (23, 'Mary', 24, 'female'),
 (24, 'Ryan', 23, 'male'),
 (25, 'Tom', 22, 'male'),
 (26, 'Jerry', 21, 'male'),
 (27, 'Lucy', 20, 'female'),
 (28, 'Corley', 25, 'male'),
 (29, 'Mary', 24, 'female'),
 (30, 'Ryan', 23, 'male'),
 (31, 'Tom', 22, 'male'),
 (32, 'Jerry', 21, 'male'),
 (33, 'Lucy', 20, 'female'),
 (34, 'Corley', 25, 'male'),
 (35, 'Mary', 24, 'female'),
 (36, 'Ryan', 23, 'male'),
 (37, 'Tom', 22, 'male'),
 (38, 'Jerry', 21, 'male'),
 (39, 'Lucy', 20, 'female'),
 (40, 'Corley', 25, 'male'),
 (41, 'Mary', 24, 'female'),
 (42, 'Ryan', 23, 'male'),
 (43, 'Tom', 22, 'male'),
 (44, 'Jerry', 21, 'male'),
 (45, 'Lucy', 20, 'female'))

# 4.关闭连接

In [9]:
cursor.close()
conn.close()

# 5.MySQL连接池

In [10]:
# 配置项
config = {
    'host': '127.0.0.1',
    'port': 3306,
    'user': 'root',
    'password': '123456',
    'db': 'question_answer',
    'charset': 'utf8mb4',
    'keepConnectionAlive': True,
    'pingInterval': 300,
    'maxConnections': 5,
    'minFreeConnections': 1
}

pool = MySQLDB(config)  # 创建连接池
pool.query('SELECT VERSION();')  # 执行SQL语句

[{'VERSION()': '8.2.0'}]